[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "torch"

[packages]
jupyterlab = "*"
torch = {version="==2.0.1", index="torch"}

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
